<div class="col s12 m4 blog-section">
  <h5 class="blog-title" style="color:{{titleColor}}; background-color:{{titleBackground}}">{{title}}</h5>
  <div class="blog-content" style="background-color:{{conentBackground}}">
    {{#if img}}
      <img class="blog-image" src="{{src}}" alt="{{alt}}">
    {{/if}}
    {{desc}}
  </div>
</div>
