<div class="col s12 m6 l3 restaurant-bar">

  <figure class="restaurant-figure">
    <h6 class="restaurant-title">{{capitals title}}</h6>
    <img class="restaurant-image" src="{{src}}" alt="{{alt}}">
    <figcaption class="restaurant-caption truncate">
      {{street}}<br>
      {{city}}<br>
      {{number}}<br>
      {{website}}
    </figcaption>
  </figure>
</div>
